@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #ffffff;
}

.nav-bar {
    background-color: #333646;
    width: 100%;
    height: 80px;
}


.nav-bar .nav-list {
    float: right;
    margin-top: 20px;
}

.nav-bar .nav-list ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-bar .nav-list ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}


.active,
a:hover {
    background-color: #f9004d;

    transition: 0.5s;
}

.logo {
    width: 50px;
    height: auto;
    margin-top: 15px;
    margin-left: 15px;

}


.checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    margin: 10px;
    cursor: pointer;
}

#check {
    display: none;
}

.page1 {
    background-image: url("../images/background-crpd.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #012a33;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 30px;
}

.profile-pic{
    flex: 3;
}
.profile-pic h1{
    font-size: 60px;
}

.intro{
    flex: 2;
}



.page1 .profile-pic img {
    margin: 30px;
}

@media (max-width: 478px) {
    .page1{
        flex-direction: column;
        /* background-position: center bottom; */

    }
}

.page2 {
    background-color: #333646;
}

.About {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
}

.About img {
    margin: 30px;
    width: 500px;
    opacity: 0.5;
}


@media (max-width: 478px){
    .About {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;


    }
    .About img{
        /* display: block; */
        margin: 0;
width: 100%;
    }
    
}

.text1 {
    margin: 20px;
    margin-top: 50px;
}

.text1 h1 {
    color: #f9004d;

}

.text1 h3 {
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text1 p {
    font-weight: 300;
    color: white;
}

button,
.button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #f9004d;
    color: white;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
}

.button {
    text-decoration: none;
    margin-top: 50px;
}

button:hover,
.button:hover {
    background-color: rgb(226, 176, 10);
}

.page3 {
    background-color: #012a33;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    position: relative;
    padding-bottom: 50px;
}
.overlay{
    background-image: url('../images/tree.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: #1c213b;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-blend-mode: screen;
}

.page3 h2 {
    color: #f9004d;
    font-size: 40px;
}

.introP3 {
    margin-top: 50px;
    z-index: 2;
}

.skills {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 50px;
    z-index: 3;
}

.skills i {
    font-size: 50px;
    color: #fcfc;
    font-weight: 900;
}

.skills h4,
p {
    padding: 10px;
}

.skill1 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    border-top: 2px solid #fcfc;
}

.skill2 {
    flex-basis: 50%;
    /* width: 50%; */
    height: auto;
    margin-left: 80px;
    padding: 30px;
    border-bottom: 2px solid #fcfc;
}

.skill3 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    border-top: 2px solid #fcfc;
}

.skill4 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    border-bottom: 2px solid #fcfc;
}
@media (max-width: 478px){
    .skills{
        flex-direction: column;
    }
    .skill1, .skill2, .skill3, .skill4{
        width: 100%;
        border-top: none;
        border-bottom: 2px solid #fcfc;
        margin-left: 0;
    }
}

.projects .page4 {
    background-color: #333646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}


.projectsP4 {
    display: flex;
    flex-direction: row;
}

.projectsP4 img {
    width: 100%;
}

.projectsP4 h4,
.projectsP4 p {
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 478px){
    .intro-projects h2{
        text-align: center;
        font-size: 32px;
    }
    .projects .page4{
        padding: 20px;
    }
    .projectsP4{
        flex-direction: column;
    }
    .projectsP4 .project1, 
    .projectsP4 .project2, 
    .projectsP4 .project3,
    .projectsP4 .project4{
        width: 100%;
        margin-left: 10px;

    }
}

.project1 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    text-align: center;
}

.projectsP4 h4 {
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
}

.projectsP4 p {
    font-size: 15px;
    padding-bottom: 30px;
}

.project2 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    text-align: center;

}

.project3 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    text-align: center;

}

.footer {
    background-image: url('../images/brown-gradient.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.page5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

span {
    color: #f9004d;
}