@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #ffffff;
}

.nav-bar {
    background-color: #333646;
    width: 100%;
    height: 80px;
}


.nav-bar .nav-list {
    float: right;
    margin-top: 20px;
}

.nav-bar .nav-list ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-bar .nav-list ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.active,
a:hover {
    background-color: #f9004d;

    transition: 0.5s;
}

.logo {
    width: 50px;
    height: auto;
    margin-top: 15px;
    margin-left: 15px;

}


.checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    margin: 10px;
    cursor: pointer;
}

#check {
    display: none;
}

.page1 {
    background-image: url("/images/background-crpd.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #1c213b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}




.page1 .profile-pic img {
    margin: 30px;
}




.page2 {
    background-color: #333646;
}


.About {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
}

.About img {
    margin: 30px;
    width: 500px;
    height: auto;
    opacity: 0.5;
}

.text1 {
    text-align: center;
    margin: 20px;
    margin-top: 50px;
}

.text1 h1 {
    color: #f9004d;

}

.text1 h3 {
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text1 p {
    font-weight: 300;
    color: white;
}

button,
.button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #f9004d;
    color: white;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
}

.button {
    text-decoration: none;
    margin-top: 50px;
}

button:hover,
.button:hover {
    background-color: rgb(226, 176, 10);
}

.page3 {
    background-image: url(/images/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    position: relative;
    padding-bottom: 50px;
}
.overlay{
    position: absolute;
    background-color: #1c213b;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.page3 h2 {
    color: #f9004d;
    font-size: 40px;
}

.introP3 {
    margin-top: 50px;
    z-index: 2;
}

.skills {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 50px;
    z-index: 3;
}

.skills i {
    font-size: 50px;
    color: #fcfc;
    font-weight: 900;
}

.skills h4,
p {
    padding: 10px;
}

.first1{
    /* width: 50%; */
}
.second{
    /* width: 50%; */
}

.skill1 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    border-top: 2px solid #fcfc;
}

.skill2 {
    flex-basis: 50%;
    /* width: 50%; */
    height: auto;
    margin-left: 80px;
    padding: 30px;
    border-bottom: 2px solid #fcfc;
}

.skill3 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    border-top: 2px solid #fcfc;
}

.skill4 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
    border-bottom: 2px solid #fcfc;
}

.projects .page4 {
    background-color: #333646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}


.projectsP4 {
    display: flex;
    flex-direction: row;
}

.projectsP4 img {
    width: 200px;
}

.projectsP4 h4,
p {
    padding: 0, 10px;
}

.project1 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
}

.projectsP4 h4 {
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
}

.projectsP4 p {
    font-size: 15px;
    padding-bottom: 30px;
}

.project2 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
}

.project3 {
    width: 50%;
    height: auto;
    margin-left: 80px;
    padding: 30px;
}

.footer {
    background-image: url(/images/brown-gradient.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.page5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


span {
    color: #f9004d;
}